<header>
    <h1>This is a header !</h1>

    <% if (locals.user){ %>
        <li>
            <a href ="/users/profile"> <%=user.name %> </a>
        </li>
        <li>
            <a href ="/users/signout"> sign out</a>
        </li>

   <% } else { %>
        <li>
            <a href ="/users/signin">sign in</a>
        </li>

        <li>
            <a href ="/users/signup">sign up</a>
        </li>


   <% } %>






</header>

