<html>
    <head>
        <title>
            <%= title %>
        </title>
        <style>
            body{
                background-color: cyan;
            }

            #head1{
                text-align: center;
                font-size: 1.5rem;
                font-family: sans-serif;
            }
            
        </style>

    </head>
    <body>
        <h1 id ="head1"> Welcome to the <%= title %> page !</h1>

    </body>
</html>