.posts-list-container{
    border-top: 2px solid grey;
}
#container{
    display:flex;

    #post-section{
        width:70%;
        padding: 10px;
    }
    #user-friends{
        width:30%;
        padding: 10px;
        border-left: 1px solid grey;
        // height: 100%;
    }
}